<nav class="navbar fixed-bottom nav-dark bg-dark nav-mobile">
<div class="container nav-mobile-tekst">
    <div class="col-2 col-md-2">
            <div class="nav-mobile-item"><a href="index.html"><img src="assets/img/home.png" alt="home" height="20"></a></div>
</div>
<div class="col-2 col-md-2">
    <a href="apérobus.html"><img src="assets/img/bus.png" alt="apérobus" height="20"></a>
    </div>
    <div class="col-2 col-md-2">
            <a href="over_ons.html"><img src="assets/img/info.png" alt="over ons" height="20"></a>
        </div>
        <div class="col-2 col-md-2">
                <a href="contact.html"><img src="assets/img/contact.png" alt="contact" height="17"></a>
            </div>
            <div class="col-2 col-md-2">
                    <a href="stap1.html"><img src="assets/img/kar.png" alt="huren" height="20"></a>
                </div>
                <div class="col-2 col-md-2">
                        <a href="#top"><img src="assets/img/up.png" alt="naar boven" height="15"></a>
                    </div>
                </div>

</nav>
