$red: rgb(231,58,61);
$blue: rgb(0,75,81);
$pink: rgb(236,95,98);

$color-one: $red;
$color-two: $blue;
$color-three: $pink;

$fontsize-one: 35px;
$fontsize-two: 25px;
$fontsize-three: 20px;
$fontsize-four: 15px;

$font-one: 'Oswald', sans-serif;
$font-one: 'Arimo', sans-serif;

.form-control:focus{outline-style:none;
    box-shadow:none;
    border-color:transparent;}

h1 {font-size: $fontsize-one;
    color: $color-one;
    font-family: $font-one;
    margin-top: 5px;
    margin-bottom: 20px;
text-transform: uppercase;}
h2 {font-size: $fontsize-two;
    color: $color-three;
    font-family: $font-one;
    font-variant: small-caps;
    &.bevestigpagina_tekst{text-align: center;}}
h3 {font-size: $fontsize-three;
    color: $color-one;
    margin-top: 15px;
    font-family: $font-one;
    margin-top: 15px;}
h4 {font-size: $fontsize-three;
    color: $color-two;
    font-family: $font-one;
    margin-top: 15px;}
p{font-size: $fontsize-four;
    color: $color-two;
    font-family: $font-two;
    margin-top: 15px;}

a {color: $color-two;
&:link {text-decoration: none;}}
.btn.plus_knop {background-color: $color-two;
            border-radius: 25px;
            color: white;
            border: none;
            height: 30px;
            width: 30px;
            padding: 2px;
            font-family: $font-two;
            font-size: $fontsize-three;
            margin-left: 20px;
            margin-top: -60px;
            text-align: center !important;
            &:focus{outline-style:none;
                box-shadow:none;
                border-color:transparent;}
            &:hover{transform: rotate(45deg);
            transition: 150ms;}}

.collapse{text-align: center;}


.btn.knop_normaal {background-color: $color-one;
    border-radius: 0%;
    color: white;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 2px;
    font-family:$font-two;
    &:hover{background-color:white;
        border: solid 2px $color-two;
        color: $color-two;
        transition-duration: 100ms;}}
                    
.btn.knop_huren_mobile {background-color: $color-two;
    color: white;
    border: none;
    padding-bottom: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: $font-two;
    width: 100%;
    border-radius: 0%;
&:hover {background-color:white;
    border: solid 2px $color-one;
    color: $color-two;
    transition-duration: 100ms;}}

.jumbotron {background-color: white;
            margin-bottom: -40px;}

.foto_jumbotron_desktop {display: none;}

.display-3 {font-size: 30px;
            color: $color-one;
            font-family: $font-one;}
.lead {font-size: $fontsize-four;
    color: $color-two;
    font-family: $font-two;}

.streep {height: 2px;
    width: 100%;
    border-bottom: solid 3px $color-one;
    margin-top: 20px;
    margin-bottom: 20px;
    }


.form-control.underline {border: none;
    border-radius: 0%;
        border-bottom: solid 2px $color-two;
        width: 90%;
        font-size: $fontsize-four;
        color: $color-two;
        font-family: $font-two;
        margin-top: 5px;
        &:focus {width: 100%;
        border-bottom-color: $color-one;
        transition: 100ms;
        transition-duration: 200ms;
        transition-property: width;}}

textarea {border: none;
    border-bottom: solid 2px $color-two;
    width: 90%;
    font-size: $fontsize-four;
    color: $color-two;
    font-family: $font-two;
    margin-top: 10px;
    &:focus {width: 100%;
        border-bottom-color: $color-one !important;
        transition: 100ms;
        outline-style:none;
    box-shadow:none;
    border-color:transparent;
        transition-duration: 200ms;
        transition-property: width;}}
              
.carousel-inner {background: white;
                height: 220px;}
.foto_links {border-left: solid 20px $color-two;
            margin-bottom: 20px;
            &:hover {border-left: solid 40px $color-one;
                transition-duration: 400ms;
                transition-property: border-left;}}

.foto_rechts {border-right: solid 20px $color-two;
            &:hover {border-right: solid 40px $color-one;
                transition-duration: 400ms;
                transition-property: border-right;}}

.foto{height: 30px;
    width: 100px;
    margin-top: 10px;
        margin-left: 35px;}

tbody{background-color: transparent;
            font-size: $fontsize-four;
            color: $color-two;
            font-family: $font-two;
            margin-top: 15px;
            border-bottom: solid 2px $color-two;
            }
thead{font-family: $font-one;
    background-color: $color-two;
    color: white;}
table{margin-top: 20px;}
.input_tabel {width: 60px;}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    z-index: 1;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-left: solid 20px $color-one;
    &:hover {border-left: solid 40px $color-two;
            transition-duration: 200ms;
            transition-property: border-left;}
}

/* The Close Button */
.close {
    color: $color-two;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
}

.close:hover,
.close:focus {
    color: $color-two;
    text-decoration: none;
    cursor: pointer;
}

.popup {border: none;
background-color: transparent;
font-size: $fontsize-four;
color: $color-two;
font-family: $fontsize-two;
margin-top: 5px; }
.form-group{width: 90%;}
select {font-family: $font-two;}
.header{margin-bottom: 30px;}