footer {background-color: $color-two;
    margin-top: 10px;
    margin-bottom: 50px;
}
.knop_footer {background-color: white;
    color: $color-two;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-family: 'Arimo', sans-serif;}

.knop_footer:hover {background-color: $color-two;
                    border: solid 2px white;
                    color: white;
                    transition-duration: 100ms;}

.footer_tekst {color: white;
                font-size: 15px;
                margin-left: 10px;
                font-family: 'Oswald', sans-serif;}

.social_media {margin: 5px;}


