/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {.footer {float: bottom;
                            width: 100%;
                            margin-bottom: -10;}
    .nav-mobile {display: none;}
    .foto_jumbotron_mobile {display: none;}
    .foto_jumbotron_desktop {display: block;}
    .navigatie {display: flex;}
    .navbar-expand-lg .navbar-nav {position: absolute;
                                    right: 2%;}
    .knop_huren_mobile{display: none;}

.nav_hover_item:hover{background-color:$color-one;
                height: 65px;
                margin-right: 5px;
                margin-top:-25px;
                transition-duration: 200ms;
                transition-property: background-color;
                padding-top: 25px;}
iframe{height: 500px;}
                .nav-item.active{background-color:$color-one;
                    height: 65px;
                    margin-top:-25px;
                    margin-right: 5px;
                    transition-duration: 250ms;
                    transition-property: background-color;
                    padding-top: 25px;}

.navigatie .navbar-nav .nav_hover_item .nav-item a.nav-link:hover {
                        color: white;}
                          
                        .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {color: white !important;}}
                    
             



/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}